/* GLOBAL STYLES */

body {
    background: #E9CA83;
}

article {
    background: #F8E3B1;
    border-radius: 1.5rem;
    color: black;
    margin: 2rem 4rem;
    padding: 2rem 3rem;
}

h1 {
    background: #F8E3B1;
    border-radius: 1.5rem;
    text-align: left;
    margin: 2rem 0;
    padding: 2rem;
}

nav {
    background: #F8E3B1;
    border-radius: 1.5rem;
    font-size: 18px;
}

.dropdown-main > a {
    color: black;
    text-decoration: none;
}

nav > a, .dropdown-main{
    color: black;
    display: inline-block;
    padding: 1rem 2rem; 
    text-decoration: none;
}

nav > a:hover, nav > .dropdown-main:hover, .dropdown-item {
    background: chocolate;
}

nav > a:hover, nav > .dropdown-main:hover, .dropdown-item:hover {
    border-bottom: 2px solid black;
}

nav > .dropdown-main:hover .dropdown-item {
    display: block;
}

.dropdown-item {
    display: none;
    left: 7.55rem;
    padding: 1rem 2.2rem 1rem 3rem; 
    position: absolute;
    text-decoration: none;
    top: 13.8rem;
    z-index: 1;
}

ul > li > a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

ul > li > a:hover {
    font-weight: 800;
    text-decoration: underline;
}

footer > p {
    text-align: center;
}

/* GALLERY */

#gallery-container > h2 {
    margin-top: 4rem;
    text-align: center;
}

#gallery {
    display: block;
    margin: 4rem 11rem;
}

a.thumbnail {
    background: #F8E3B1;
    border-radius: 2rem;
    display: inline-block;
    margin: auto 1rem;
    text-decoration: none;
    width: 200px;
}

a > figure > img {
    width: 100%;
}

a > figure > figcaption {
    color: black;
    font-size: 12px;
    text-align: center;
}

/* Project 3 page */

#project-3 h3 {
    text-decoration: underline;
}
